<h2>Battle!</h2>

<body>
<p style="padding-top: 10px;">
<% if @game.current_turn == @game.player_1 %>
<%=@game.player_1.name%> attacked <%=@game.player_2.name%>!
<% else %>
<%=@game.player_2.name%> attacked <%=@game.player_1.name%>!
<% end %>
</p>

<form action='/switch_turns' method='post'>
<div><input type='submit' value ='OK'></div>
</form>

</body>
